spring:
  profiles:
    active: db

  datasource:
    url: ${db.url}
    username: ${db.username_}
    driver-class-name: ${db.driver}
    password: ${db.password}

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        # 사이즈 만큼 in 쿼리의 아이템 개수가 적용됨 (ex 아이템 1000개의 경우 10번 명령이 실행됨)
        # 사이즈 : 100~1000개 권장
        default_batch_fetch_size: 1000
#    show-sql: true

logging:
  level:
    org.hibernate.SQL: debug
#    org.hibernate.type: trace